<li>
  {{kword}} // {{english}}

  <button class="change-mastered" data-id="{{id}}" data-newmastered="{{mastered}}">
    {{#if mastered}}HIja' (yes) {{else}}ghobe' (no) {{/if}}
  </button>

  <button class="delete-klingon" data-id="{{this.id}}"> bIjathlh 'e' yImev! (Delete!)</button>
</li>